#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root > div {
  height: 100%;
  --column1: calc(100%);
  --row1: 200px;
  padding-left: calc(var(--row1) * 0.02);
  display: grid;
  grid-template-columns: var(--column1);
  grid-template-rows: var(--row1) 1fr;
  text-align: center;
}

#root > div > header {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#root > section {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.board {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  padding-left: calc(var(--column1) * 0.2);
}

ul {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 200px;
  height: 200px;
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > div > p {
  font-size: 1.1em;
  text-transform: capitalize;
}

@media screen and (max-width: 400px) {
  #root {
    margin-top: 100px;
  }

  #root > div > header {
    max-width: 300px;
  }

  #root > div > header > h1 {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 401px) and (max-width: 980px) {
  #root {
    margin-top: 80px;
  }

  .board {
    padding-left: calc(var(--column1) * 0.12);
  }
}

@media screen and (min-width: 981px) {
  .board {
    padding-left: calc(var(--column1) * 0.07);
  }
}
